@font-face {
  font-family: 'MyFont';
  src:
    url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* .hello {
    font-family: 'MyFont', sans-serif;
    color: red;
    background: url('./icon.png');
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(161, 161, 161);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
}

.todo {
  width: 500px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.todo-title {
  background-color: aquamarine;
  padding: 15px;
}

.todo-new-item {
  background-color: floralwhite;
  border-top: 1px solid grey;
}

.todo-new-item input {
  padding: 15px;
  width: 100%;
  height: 100%;
  border: none;
}

.todo-new-item input:focus {
  outline: none;
}

.todo-list {
  background-color: lightgray;
}

.todo-list-label {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-top: 1px solid grey;
}

.todo-clear-all-completed {
  background-color: navajowhite;
  padding: 15px;
  text-align: center;
  border-top: 1px solid grey;
  cursor: pointer;
}
